<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>CFBundleDisplayName</key>
	<string>Boise Calvary</string>
	<key>CFBundleIdentifier</key>
	<string>CCBoise</string>
	<key>CFBundleVersion</key>
	<string>0.0.1a</string>
	<key>MinimumOSVersion</key>
	<string>6.1</string>
	<key>NSMainNibFile</key>
	<string></string>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array/>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Resources/icon57.png</string>
		<string>Resources/icon114.png</string>
		<string>Resources/icon72.png</string>
		<string>Resources/icon29.png</string>
		<string>Resources/icon50.png</string>
		<string>Resources/icon58.png</string>
	</array>
</dict>
</plist>
