body
{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
	font-weight: 100;
	font-size: 15pt;
    background-color: #fff;
}
h1
{
	font-size: 15pt;
	font-weight: bold;
    margin: 0 0 8pt 0;
}
a:link, a:visited
{
	text-decoration: none;
}
li
{
}